@use "../abstracts/variables" as var;

.footer {
	&__indicator {
		& * {
			transform: translateY(30px);
			z-index: 2;
		}
	}

	&__content {
		position: relative;
		background: url("/assets/desktop/image-footer.jpg") no-repeat center;
		text-align: left;
		padding: var.$spacing-11 var.$spacing-10;

		display: flex;
		justify-content: space-around;
		align-items: center;

		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(var.$color-cyan-600, 0.85);
			z-index: 1;
		}

		@media screen and (max-width: var.$bp-medium) {
			text-align: center;
			background: url("/assets/tablet/image-footer.jpg") no-repeat center;
			background-size: cover;
			aspect-ratio: 2 / 1;
			padding: var.$spacing-8 var.$spacing-10;

			flex-direction: column;
			justify-content: center;
			gap: var.$spacing-5;
		}

		@media screen and (max-width: var.$bp-small) {
			padding: var.$spacing-8 var.$spacing-5;
		}
	}

	&__title {
		color: var.$color-white;
		font-size: var.$font-size-xxl;
		font-weight: var.$font-weight-black;
		line-height: 1.1;

		flex-basis: 27%;
		z-index: 2;

		@media screen and (max-width: var.$bp-medium) {
			font-size: var.$font-size-xl;
			flex-basis: auto;
		}

		@media screen and (max-width: var.$bp-small) {
			font-size: var.$font-size-large;
		}
	}

	&__description {
		color: var.$color-white;

		z-index: 2;
		flex-basis: 28%;

		@media screen and (max-width: var.$bp-medium) {
			font-size: var.$font-size-small;
			flex-basis: auto;
		}
	}

	&__btn {
		align-self: baseline;
		z-index: 2;

		@media screen and (max-width: var.$bp-medium) {
			align-self: center;
		}
	}
}
